section.teams
  .container
    .teams-slider
      .content-box
        .teams-slider__content
          .content__item
            .content__item_title Julia Harrington 1
            .content__item_position Art Director 1
            .content__item_text Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in. When we are feeling so low and deep in the pits, this is when we need light to see our way through.
            ul.content__item_sicial
              li.content__item_sicial-item 
                a(href="#").content__item_link Facebook
              li.content__item_sicial-item 
                a(href="#").content__item_link Linkedin
              li.content__item_sicial-item 
                a(href="#").content__item_link twitter
          .content__item
            .content__item_title Julia Harrington 2
            .content__item_position Art Director 2
            .content__item_text Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in. When we are feeling so low and deep in the pits, this is when we need light to see our way through.
            ul.content__item_sicial
              li.content__item_sicial-item 
                a(href="#").content__item_link Facebook
              li.content__item_sicial-item 
                a(href="#").content__item_link Linkedin
              li.content__item_sicial-item 
                a(href="#").content__item_link twitter
          .content__item
            .content__item_title Julia Harrington 3
            .content__item_position Art Director 3
            .content__item_text Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in. When we are feeling so low and deep in the pits, this is when we need light to see our way through.
            ul.content__item_sicial
              li.content__item_sicial-item 
                a(href="#").content__item_link Facebook
              li.content__item_sicial-item 
                a(href="#").content__item_link Linkedin
              li.content__item_sicial-item 
                a(href="#").content__item_link twitter
          .content__item
            .content__item_title Julia Harrington 4
            .content__item_position Art Director 4
            .content__item_text Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in. When we are feeling so low and deep in the pits, this is when we need light to see our way through.
            ul.content__item_sicial
              li.content__item_sicial-item 
                a(href="#").content__item_link Facebook
              li.content__item_sicial-item 
                a(href="#").content__item_link Linkedin
              li.content__item_sicial-item 
                a(href="#").content__item_link twitter
          
        .teams-slider__naw
          .naw__next#next-slider
            .naw-control_image
              img(src="image/teams/teams-1.png", alt="teams next").teams-slider__naw_image#image_next
            .naw-control
              .naw__button Next 
                span.naw__button_arrow &#x2192;
              .naw__item-name#name_next Liza Ann
          .naw__prev#prev-slider
            .naw-control
              .naw__button
                span.naw__button_arrow &#x2190;
                | Next 
              .naw__item-name#name_prev Liza Ann 2
            .naw-control_image
              img(src="image/teams/teams-2.png", alt="teams prev").teams-slider__naw_image#image_prev
      .teams-slider__photo
        img(src="image/teams/teams-1.png", alt="face 1").teams-slider__photo_item.teams-slider__photo_item-1
        img(src="image/teams/teams-2.png", alt="face 2").teams-slider__photo_item.teams-slider__photo_item-2
        img(src="image/teams/teams-3.png", alt="face 3").teams-slider__photo_item.teams-slider__photo_item-3
        img(src="image/teams/teams-4.png", alt="face 3").teams-slider__photo_item.teams-slider__photo_item-hide