$gutter: 15px;
$gutterBig: 40px;
$size: 1152px;
//кольори палітра
$green1: #93c42e;
$green2: #6c9c5a; 
$green3: #4e8839;
$beigeDark: #ebefe2;
$baigeLight: #f4f5f0;
$main-font-title: #373e42;

$main-black: #373e42;;

$white: #F4FBF6;
$green: #00A031;
$grey: #6C6C6C;