.footer {
  background-color: #222222;
  height: 34.4rem;
  text-align: center;
  padding: 8.8rem 0 6.2rem;
}

.link { 
  margin-top: 12.4rem;
  font-size: 1.4rem;
  line-height: 2.4rem;  

  text-align: center;
  letter-spacing: 0.2px;

  color: #777777;
}